{% load staticfiles %}
<html>
<head>
	<title>Shiping route</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">
    <meta name="robots" content="NONE,NOARCHIVE">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>
   <div class="page-header">
        <h1>Fast and Reliable Shipping</h1>
        <table align="right">
            <tr>
                <td>
                    <a href="http://127.0.0.1:8000/introduce/">Thõa thuận</a>
                </td>
                 <td>
                    <a href="http://127.0.0.1:8000/order/">Đặt ship</a>
                </td>
                <td>
                    <a href="http://127.0.0.1:8000/ordershow/">Đã đặt</a>
                </td>
                <td>
                    <a href = "http://127.0.0.1:8000/logout/">Đăng xuất</a>
                </td>
               
            </tr>
        </table>
    </div>
<div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
</div>
<table align="right">
    <tr align ="left">
        <td>
            <h4>
                http://shipper.pythonanywhere.com<br>
                Email: cantho.shipper@gmail.com<br>
                Di động: 01645009737
            </h4>
        </td>
    </tr>
</table>
</body>
</html>
