{% load staticfiles %}
<html>
<head>
	<title>Shiping route</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">
    <meta name="robots" content="NONE,NOARCHIVE">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
   <div class="page-header">
        <h1>Fastest and Trustest SHIPPING</h1>
        <table align = "right">
			<tr>
				<td>
					<a href="http://127.0.0.1:8000/register">Register</a>
				</td>
			</tr>
		</table>
    </div>
<div class="content container">
        <div class="row">
            <div class="col-md-8">
	            
				<form method = "POST" class = "post-form">
					<table width = "45%">
						<tr>	{% csrf_token %}
							<td> {{loginform.as_p}}
								<button type = "submit" class = "save btn btn-default">Login</button>
							</td>
						</tr>

					</table>
				</form>
            </div>
        </div>
</div>
</body>
</html>




