{% extends 'base.html' %}
{% block content %}
	<form method="POST"  class ="post-form">{% csrf_token %}	
		<table align=right width="30%">
			<tr>
				<td>
				{{code.as_p}}
				<button id="order"type ="submit" class="save btn btn-default">Search</button>
				</td>
			</tr>
		</table>
	</form>

	<form method="POST" class="post-form">{% csrf_token %}	
		<table>
			<tr>
				<td>
					{{form.as_p}} 
					<button id="order"type ="submit" class="save btn btn-default">Send Order</button>
				</td>
			</tr>	
		</table>
	</form>
{% endblock %}