{% extends 'base.html' %}
{% block content %} 
<table align = "right">
	<tr>
		<td>
			<a href="http://127.0.0.1:8000/order">Đặt ship</a>
		</td>
	</tr>
</table>
<table width="45%">
	<tr>
		<td>
			<form method="POST" class="post-form">{% csrf_token %}	
			{{form.as_p}} 
			<button type ="submit" class="save btn btn-default">Save order</button>
			</form>
			<form method="POST" class="post-form">{% csrf_token %}	
			<button type ="submit" class ="save btn btn-default">Finish order</button>
			</form>
		</td>
	</tr>	
</table>
{% endblock %}


