{% extends 'base.html' %}
{% block content %}
<table align = "right">
	<tr>
		<td>
			<a href="http://127.0.0.1:8000/order">Đặt ship</a>
		</td>
	</tr>
</table>
<form method = "POST" class="post-form">{% csrf_token %}
	<table align="left">
		<tr>
			<th>Shipcode</th>
		</tr>
		<tr>
			<th>{{post.shipcode}}</th>
		</tr>
	</table>
	<table align="center" width=70%>
		
		<tr>
			<th>Bên gửi</th>
			<th>Bên nhận</th>
		</tr>
		<tr>
			<td>{{post.name}}</td>
			<td>{{post.reciever}}</td>
		</tr>
		<tr>
			<td>{{post.address}}</td>
			<td>{{post.reciever_address}}</td>
		</tr>
		<tr>
			<td>{{post.phone}}</td>
			<td>{{post.reciever_phone}}</td>
		</tr>
	</table>
	<table align="center" width=90%>
		<tr>
			<td>{{post.body}}</td>
		</tr>
		<tr align="right">
			<td>
				<button type="submit" class="save btn btn-default">Edit order</button>
			</td>
		</tr>
	</table>
</form>

{% endblock %}