{% extends 'base.html' %}
{% block content %}
<form method = "POST" class="post-form">{% csrf_token %}
	<table align="left">
		<tr>
			<th>Mã ship</th>
		</tr>
		<tr>
			<th>{{post.shipcode}}</th>
		</tr>
	</table>
	<table align="center" width=70%>
		
		<tr>
			<th>Bên gửi</th>
			<th>Bên nhận</th>
		</tr>
		<tr>
			<td>{{post.name}}</td>
			<td>{{post.reciever}}</td>
		</tr>
		<tr>
			<td>{{post.address}}</td>
			<td>{{post.reciever_address}}</td>
		</tr>
		<tr>
			<td>{{post.phone}}</td>
			<td>{{post.reciever_phone}}</td>
		</tr>
	</table>
	<table align="center" width=90%>
		<tr>
			<td>{{post.body}}</td>
		</tr>
		<tr align="right">
			<td>
				<button type="submit" class="save btn btn-default"><b>Chỉnh sửa</b></button>
			</td>
		</tr>
	</table>
</form>

{% endblock %}