
h1 a {
    color: #FCA205;
}
html {
    background-color: #000000
}
body {
    margin-left: 230px;
    margin-right: 230px;
    padding-left: 15px;
    font-size: 14px;
    background-color: antiquewhite;
    margin-bottom: 3px;
}

h1 a {
    color: #FCA205;
    font-family: 'Lobster', cursive;
}
.page-header {
    background-color: #ff9400;
    margin-top: 3px;
    padding: 15px 15px 15px 30px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 10px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

td {
     font-family: 'Lobster', cursive;
     font-size: 20px;
     line-height: 22px;
}
th {
    font-family: 'Lobster', cursive;
    font-size: 25px;
}
table {
    margin-top: 0px;
}
button {
    font-family: 'Lobster', cursive;
    font-style: bold;
}
input, textarea {
    font-family: 'Lobster', cursive;
    font-size: 17px;
}
tr {
    margin-bottom: 3px;
}
